*{
    padding: 0;
    margin: 0;
}
.app-container {
    background-image: url("./assets/img.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
}